<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinyuan.main.dao.RegionMapper" >
  <resultMap id="BaseResultMap" type="com.xinyuan.main.domain.Region" >
    <id column="id" property="id" jdbcType="SMALLINT" />
    <result column="pid" property="pid" jdbcType="SMALLINT" />
    <result column="text" property="text" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, text
  </sql>
  <!-- 读取所有的省 -->
  <select id="readAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM region limit 1,34
  </select>
  <!-- 读取所有的市根据省 -->
  <select id="readCityById" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select
    <include refid="Base_Column_List" />
    from region
    where pid = #{id,jdbcType=SMALLINT}
  </select>
  <!-- 读取所有的区通过市 -->
  <select id="readCountyById" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from region
    where pid = #{id,jdbcType=SMALLINT}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select
    <include refid="Base_Column_List" />
    from region
    where id = #{id,jdbcType=SMALLINT}
  </select>
</mapper>