<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyuan.main.dao.ShoppingAddressMapper">
  <resultMap id="BaseResultMap" type="com.xinyuan.main.domain.ShoppingAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="shipping_people" jdbcType="VARCHAR" property="shippingPeople" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address_detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="is_default" jdbcType="BIT" property="isDefault"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, province, city, shipping_people, phone, address_detail, postal_code, 
    county, is_default
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    *
    from shopping_address
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shopping_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shopping_address
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.xinyuan.main.domain.ShoppingAddress" keyProperty="id" useGeneratedKeys="true">
    insert into shopping_address
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        user_id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="shippingPeople != null">
        shipping_people,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="addressDetail != null">
        address_detail,
      </if>
      <if test="postalCode != null">
        postal_code,
      </if>
      <if test="county != null">
        county,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="shippingPeople != null">
        #{shippingPeople,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinyuan.main.domain.ShoppingAddress">
    update shopping_address
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="shippingPeople != null">
        shipping_people = #{shippingPeople,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        address_detail = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        postal_code = #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--通过userId 查询所有 收货地址-->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="int">
    SELECT <include refid="Base_Column_List"/> FROM shopping_address
    WHERE user_id = #{userId}
  </select>
  <!-- 查询 用户 默认收货地址-->
  <select id="selectDefaultAddress" resultMap="BaseResultMap" parameterType="int">
    SELECT <include refid="Base_Column_List"/> FROM shopping_address
    WHERE user_id = #{userId} AND is_default = 1
  </select>
</mapper>